language: go

go:
  - "1.13"

services:
  - redis-server
  - docker

before_install:
  - "wget https://github.com/dominikh/go-tools/releases/download/2019.1.1/staticcheck_linux_amd64 && sudo mv staticcheck_linux_amd64 /usr/bin/staticcheck && sudo chmod +x /usr/bin/staticcheck"

script: "./test.sh && cd server/runner && ./docker_build.sh && ./docker_run.sh && LOGS_OPTS=' ' ./docker_logs.sh 2>&1 | grep 'server started' && ./docker_kill.sh"
